<!--=== Profile ===-->

<div  class="container content profile">


    <!--select-->
    <div class="row">

        <!--详细说明 http://www.tuicool.com/articles/RniIRv-->

        <!--as 语法是:前面的值绑定到model上面,默认是for item对象-->
        <select ng-model="vm.select"
                ng-options="item.gender as item.name group by item.gender for item in vm.users"
                class="form-control">

        </select>
        <p>{{vm.select}}</p>

        <!--<select ng-model="vm.select"-->
                <!--ng-options="item.name group by item.gender for item in vm.users"-->
                <!--class="form-control">-->

        <!--</select>-->
        <!--<p>{{vm.select}}</p>-->

        <!--<select-->
                <!--ng-model = "vm.myOption"-->
                <!--ng-options = "opt.value as opt.label group by opt.group for opt in vm.myOptions">-->
            <!--<option value="">&#45;&#45; 请选择 &#45;&#45;</option>-->
        <!--</select>-->
        <!--<p>{{vm.myOption}}</p>-->

        <!--<select-->
                <!--ng-model = "vm.myOption"-->
                <!--ng-options = "opt.label for opt in vm.myOptions">-->
        <!--</select>-->

        <!--<select ng-model="vm.mycity" ng-options="city.name for city in vm.Cities"></select>-->

        <!--&lt;!&ndash;<p>{{vm.mycity.name}}</p>&ndash;&gt;-->

        <!--<select ng-options="item as item.label for item in vm.items track by item.id"-->
                <!--ng-model="vm.selected">-->

        <!--</select>-->

    </div>

    <!--alert-->
    <div class="row">
        <script type="text/ng-template" id="alert.html">
            <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
                <div ng-transclude></div>
            </div>
        </script>

        <uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</uib-alert>
        <button type="button" class='btn btn-default' ng-click="vm.addAlert()">Add Alert</button>
    </div>
    <!--end alert-->

    <!--modal-->
    <div class="row">

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
        <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>

    </div>




</div><!--/container-->
<!--=== End Profile ===-->
