<!--=== Profile ===-->

<div  class="container content profile">

    <div class="row margin-top-1">


        <!--详细说明 http://www.tuicool.com/articles/RniIRv-->

        <!--as 语法是:前面的值绑定到model上面,默认是for item对象-->
        <select ng-model="vm.select"
                ng-options="item.gender as item.name group by item.gender for item in vm.users"
                class="form-control">

        </select>
        <p>{{vm.select}}</p>

        <!--<select ng-model="vm.select"-->
                <!--ng-options="item.name group by item.gender for item in vm.users"-->
                <!--class="form-control">-->

        <!--</select>-->
        <!--<p>{{vm.select}}</p>-->

        <!--<select-->
                <!--ng-model = "vm.myOption"-->
                <!--ng-options = "opt.value as opt.label group by opt.group for opt in vm.myOptions">-->
            <!--<option value="">&#45;&#45; 请选择 &#45;&#45;</option>-->
        <!--</select>-->
        <!--<p>{{vm.myOption}}</p>-->

        <!--<select-->
                <!--ng-model = "vm.myOption"-->
                <!--ng-options = "opt.label for opt in vm.myOptions">-->
        <!--</select>-->

        <!--<select ng-model="vm.mycity" ng-options="city.name for city in vm.Cities"></select>-->

        <!--&lt;!&ndash;<p>{{vm.mycity.name}}</p>&ndash;&gt;-->

        <!--<select ng-options="item as item.label for item in vm.items track by item.id"-->
                <!--ng-model="vm.selected">-->

        <!--</select>-->

    </div>

</div><!--/container-->
<!--=== End Profile ===-->
