<!--=== Header ===-->
<div class="header header-sticky" ng-controller="HeaderController as vm">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="index.html">
            <img src="images/logo1-default.png" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li><a href="page_login.html">Logout</a></li>
                <li class="topbar-devider"></li>
                <li><a href="page_faq.html">Help</a></li>

            </ul>
        </div>
        <!-- End Topbar -->

    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li ng-repeat="state1 in vm.states" data-ng-class="{'dropdown':state1.children}" >
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="{{ state1.fa}}"></i>
                        {{ state1.label }}
                    </a>
                    <ul ng-if="state1.children" class="dropdown-menu">
                        <li ng-repeat="state2 in state1.children"  data-ng-class="{'dropdown-submenu':state2.children}" >
                            <a  ui-sref="{{ state2.link }}"  > <i class="{{ state2.fa}}"></i> {{ state2.label }}</a>
                            <ul ng-if="state2.children" class="dropdown-menu">
                                <li ng-repeat="state3 in state2.children">
                                    <a ui-sref="{{ state3.link }}">{{ state3.label }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <!-- Search Block -->
                <li>
                    <i class="search fa fa-search search-btn"></i>
                    <div class="search-open">
                        <div class="input-group animated fadeInDown">
                            <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                        </div>
                    </div>
                </li>
                <!-- End Search Block -->
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->